.container {
  display: flex;
  flex-direction: column;
}

.quizResultRow {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px grey;
  margin: 1em;
  border-radius: 1em;
  justify-content: space-between;
}

.circularProgressContainer {
  padding: 0.5em;
  width: 4em;
}
