.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizResultRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px grey;
  margin: 0.5em 1em;
  border-radius: 1em;
  justify-content: space-between;
  padding: 0 0.5em;
  align-items: center;
}

.circularProgressContainer {
  padding: 0.5em;
  width: 4em;
}
